#dragthis, #dropthis {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #333;
    background: #eaeaea;
}

#dropthis {
    margin-top: 10px;
}

#dropthis.hint {
    background: #fea;
}

#dropthis.active {
    background: #ffd4d4;
}